.workspace-flex-container {
    margin-top: 35px;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.profile-item-picture {
    height: 35px;
    width: 35px;
}
.workspace-column {
    font: 15px 'Roboto', Arial, Helvetica, sans-serif;
    margin: 25px;
}
a {
    text-decoration: none;
}

#description{
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
#ingredients-description{
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.row-item-flexbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.row-item-flexbox>a{
    color: #000000;
    font-size: 15px;
    margin-left: 10px;
}

.block-item{
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.15);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.15);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.15);
}
#icon{
    height: 250px;
    width: 440px;
    border-radius: 10px;
}
.profile-picture{
    height: 100%;
    width: auto;
    border-radius: 10px;
}
.block-item:hover{
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.25);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.25);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.25);
}

.block-item-header{
    margin: 0px;
    padding: 0px;
}
.block-item-header>h2{
    color: #000000;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
}
.block-item-text{
}
.block-item-text>a{
    color: #4d4d4d;
    font-size: 15px;
}
.block-item-action {
    margin-top: 5px;
    text-align: center;
    width: 70%;
    background-color: #ffffff;
}
.block-item-action:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.block-item-action>a {
    color: #ffffff;
    font-size: 30px;
}
form {
    padding: 0px;
    margin: 0px;
}
input[type="submit"]{
    font-size: 20px;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    width: 100%;
    background-color: #a15566;
}
input[type="submit"]:hover {
    background-color: #804451;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.25);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.25);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.25);
}
h3 {
    font-size: 25px;
}